{% extends "layout.html" %}  <!-- declaro de donde traigo la plantilla -->

{% block content %}
    <h1>Descripción del Curso</h1>

    <div id="descripcion-container"></div>

    <script>
      // Obtener el parámetro 'id' de la URL
      const urlParams = new URLSearchParams(window.location.search);
      const cursoId = urlParams.get('id');

      // Realizar una petición a la API para obtener los detalles del curso con el 'id' proporcionado
      fetch('https://shantiwave-2f3a6-default-rtdb.firebaseio.com/cursos/' + cursoId + '.json')
        .then(response => response.json())
        .then(curso => {
          const descripcionContainer = document.getElementById('descripcion-container');

          // Crear elementos HTML para mostrar los detalles del curso
          const nombreTitulo = document.createElement('h2');
          nombreTitulo.textContent = 'Nombre del Curso';
          const nombre = document.createElement('p');
          nombre.textContent = curso.nombrecurso;

          const presentacionTitulo = document.createElement('h2');
          presentacionTitulo.textContent = 'Presentación';
          const presentacion = document.createElement('p');
          presentacion.textContent = curso.presentacion;

          const imagenTitulo = document.createElement('h2');
          imagenTitulo.textContent = 'Imagen';
          const imagen = document.createElement('img');
          imagen.src = curso.imagen;
          imagen.style.maxWidth = '400px'; // Establecer un ancho máximo para la imagen

          const objetivoGeneralTitulo = document.createElement('h2');
          objetivoGeneralTitulo.textContent = 'Objetivo General';
          const objetivoGeneral = document.createElement('p');
          objetivoGeneral.textContent = curso.objetivogeneral;

          const objetivoEspecificoTitulo = document.createElement('h2');
          objetivoEspecificoTitulo.textContent = 'Objetivos Específicos';
          const objetivoEspecifico = document.createElement('p');
          objetivoEspecifico.textContent = curso.objetivoespecifico;

          const requisitosTitulo = document.createElement('h2');
          requisitosTitulo.textContent = 'Requisitos';
          const requisitos = document.createElement('p');
          requisitos.textContent = curso.Requisitos;

          const valorTitulo = document.createElement('h2');
          valorTitulo.textContent = 'Valor';
          const valor = document.createElement('p');
          valor.textContent = 'Valor: $' + curso.valor;

          descripcionContainer.appendChild(nombreTitulo);
          descripcionContainer.appendChild(nombre);
          descripcionContainer.appendChild(presentacionTitulo);
          descripcionContainer.appendChild(presentacion);
          descripcionContainer.appendChild(imagenTitulo);
          descripcionContainer.appendChild(imagen);
          descripcionContainer.appendChild(objetivoGeneralTitulo);
          descripcionContainer.appendChild(objetivoGeneral);
          descripcionContainer.appendChild(objetivoEspecificoTitulo);
          descripcionContainer.appendChild(objetivoEspecifico);
          descripcionContainer.appendChild(requisitosTitulo);
          descripcionContainer.appendChild(requisitos);
          descripcionContainer.appendChild(valorTitulo);
          descripcionContainer.appendChild(valor);
        });
    </script>
  {% endblock%}
